
<div class="hero-image">
  <img src="https://s3.envato.com/files/281866837/Banner_Gardering_48.jpg" width="100%">
  <div class="hero-text-position">
        <div class="card bg-light mb-3" style="width:30rem;">
            <div class="card-body"><h4>Name: <%= user.name %></h4></div>
            <div class="card-body"><h4>Email: <%= user.email %></h4></div>
            <div class="card-body"><h4>Zip Code: <%= user.zip_code %></h4></div>
            <div class="card-body">
              <%= button_to "Edit Profile", "/profile/#{user.id}/edit", style:"margin-left: 34%", method: :get, class: "btn btn-success btn-lg btn-block col-sm-4" %> <br>
              <%= button_to "Delete Profile", "/profile/#{user.id}", style:"margin-left: 34%", method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-lg btn-block col-sm-4" %> <br>
            </div>
        </div>
  </div>
</div>
