<section class='plant_info'>
  <div class= 'name'> <%= link_to @plant.name, search_details_path(@plant.name) %>  </div>
  <div class= 'image'> <%= image_tag(@plant.image, height:'300', width: '400') %> </div>
  <div class= 'description'> <%= @plant.description %></div>
</section>
