

<br> <br> <br> <br> <br>

<section class='plant_info'>
  <div class="container-1  justify-content-center">
    <% plants.map do |plant| %>
    <div class="cards">
      <div class="cards__item">
      <div class="card" style="width: 18rem;">
        <div class="image">
          <img class="card-img-top"<%= image_tag(plant.image, height:'200', width: '150') %>
        </div>
        <div class="card-body">
          <div class="name">
            <h4> <center><%= link_to plant.name.capitalize, search_details_path(plant.name)%></center></h4>
          </div>
          <% if !plant.description.nil? %>
          <div class="description text-justify">
            <p class="card-text"><%= plant.description[0..150] + "..." %></p>
          </div>
          <% else %>
          <p>No description currently available</p>
          <% end %>
        </div>
      </div>
    </div>
    </div>
    <% end %>
  </div>
</section>

