<br> <br>

<div id="show_bg"> 
  <div class="hero-text-position hero-text-style">
    Welcome To GardenThat!
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container" style="text-align:center;">
    <h3>Organize your garden and plan your next harvest.</h3>
  </div>
</div>
