
<center>
<section class='plant_info'>

  <%= will_paginate(plants)  %>
  <div class="container-1">
    <% plants.map do |plant| %>
    <div class="cards">
      <div class="cards__item">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"<%= image_tag(plant.image, height:'200', width: '150') %>
        <div class="card-body">
          <div class="name">
            <h2><%= link_to plant.name.capitalize, search_details_path(plant.name)%></h2>
          </div>
          <% if !plant.description.nil? %>
          <div class="description">
            <p class="card-text"><%= plant.description[0..150] + "..." %></p>
          </div>
          <% else %>
          <p>No description currently available</p>
          <% end %>
        </div>
      </div>
    </div>
    </div>
    <% end %>
  </div>
<%= will_paginate plants %>
 
</section>
</center>
  