<h2>About Gard(in) That</h2>
<div class="general">
<h4>Gard(in) That is an application meant for ANY gardener.</h4>
    <li> Search (almost) all of the plants in the world.</li> <br>
    <li> Add your favorite plants to your Garden. </li><br>
    <li> Automated calendar notifications tell you the best time to plant and water the plants in your garden.</li>
</div>

<div class="site_use">
  <h4>How To Use This Site</h4>
  <p>Coming Soon!</p>
</div>

<div class="credits">
  <h4>Credits</h4>
  <p>Special thanks to <%= link_to 'GrowStuff', 'https://www.growstuff.org/' %> for access to thier API.</p>
</div>

<div class="contact">
  <h4>Contact Us</h4>
  <p>Coming Soon!</p>
</div>
