<h3>About Gard(in) That</h3>
<div class="general">
<p>Gard(in) That is an application meant for ANY gardener.</p>
  <ul>
    <li>Search detailed information about specific plants around the world.</li>
    <li>Add your favorite plants to your Garden.</li>
    <li>Automated calendar notifications tell you the best time to plant and water the plants in yur garden.</li>
  </ul>
</div>

<div class="site_use">
  <h4>How To Use This Site</h4>
  <p>Coming Soon!</p>
</div>

<div class="credits">
  <h4>Credits</h4>
  <p>Special thanks to <%= link_to 'GrowStuff', 'https://www.growstuff.org/' %> for access to thier API.</p>
</div>

<div class="contact">
  <h4>Contact Us</h4>
  <p>Coming Soon!</p>
</div>
