<br> <br>

<div id="show_bg"> 
  <div class="hero-text-position hero-text-style">
    About GardenThat
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container" style="text-align:center ;">
    <h4>Garden That is an application meant for any gardener.</h4> <br>
        <p>Search a selection of fruit and vegetable bearing plants.</p>
        <p>Add your favorite plants to your Garden. </p>
        <p>Automated calendar notifications tell you when to expect your first harvest.</p>
        <br>
    <hr class="my-4">
    <div class="site_use" style="padding: 0% 25% 0% 25%">
      <h4>How To Use This Site</h4><br>
      <p class="text-justify">As a visitor, you can search for and browse the plants we currently have available. If you want to create a garden, sign up! You may create as many gardens as you wish. If you find a plant that you want to add to a garden, navigate to the plant's detail page and click 'Add plant to my garden'. Once the plant has been added our background workers will automatically add the estimated best time to harvest your plant to your calendar.</p>

    </div>
    <hr class="my-4">
    <div class="credits">
      <h4>Credits</h4>
      <p>Special thanks to <%= link_to 'GrowStuff', 'https://www.growstuff.org/' %> for access to thier API.</p>
    </div>

    <hr class="my-4">
    <div class="contact">
      <h4>Contact Us</h4>
      <p>Coming Soon!</p>
    </div>
  </div>
</div>
