
<center>
  <div class="jumbotron">
    <h2 class="display-4">My Gardens</h2>
    <% gardens.each do |garden| %>
    <hr class="my-4">
    <h3> <%= garden.name %></h3>
    <p>Garden address: <%= garden.address %></p>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="/user/mygardens/<%=garden.id%>" role="button">Garden Details</a>
      <%= button_to "Delete Garden", "/user/mygardens/#{garden.id}", method: :delete, class: "btn btn-danger btn-lg" %></p>
    <% end %>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/user/mygardens/new" role="button">New Garden</a>
  </div>
</center>
