  <div class="hero-text-position">
      <div class="card bg-light mb-3" style="width:30rem;">
        <div class="card-body"><h2>Create Your Garden</h2></div>
        <div class="card-body">                            
        <%= form_tag '/user/mygardens', method: :post do  %>
          <%= label_tag(:name, "Name:") %>
          <%= text_field_tag :name, "", style: "margin: 0% 5% 0% 5%" %><br> <br>
          <%= label_tag(:address, "Address:") %>
          <%= text_field_tag :address, "", style: "margin: 0% 9% 0% 5%" %><br> <br>
          <%= label_tag(:city, "City:") %>
          <%= text_field_tag :city, "", style: "margin: 0% 2% 0% 5%" %><br> <br>
          <%= label_tag(:state, "State:") %>
          <%= text_field_tag :state, "", style: "margin: 0% 4% 0% 5%" %><br> <br>
          <%= label_tag(:zip, "Zip Code:") %>
          <%= number_field_tag :zip, "", style: "margin: 0% 10% 0% 5%" %><br>  <br>
          <button type="submit" class="btn btn-primary btn-block col-sm-4" style="margin-left: 34%">Create Garden</button> <br> <br><br>
        <% end %>
      </div>
                                            
    </div>
  </div>
